<div class="wrapper">

  <h2>Вас приветсвует приложение о фильмах</h2><br> 
  
  <mat-tab-group>
      <mat-tab label="Информация о портале"> 
        Мы убеждены, что хорошее кино и сериалы заслуживают просмотра в высоком качестве 
        и профессиональной лицензионной русскоязычной озвучке. 
      </mat-tab>
      <mat-tab label="Дополнительная информация">
         Кино, конечно же, меняется, и уже многие зрители предпочитают домашний онлайн-просмотр
          новинок и классики кинематографа, ради которого не нужно выбираться в кинотеатр – и мы рады
           осознавать, что это, не в последнюю очередь, и наша заслуга. Бесплатные фильмы, 
           эксклюзивные сериалы только для подписчиков, новинки киноиндустрии онлайн со скидкой – 
           вариантов великое множество, но каждый из них выполняет одну очень важную для нас и для вас 
           функцию. Он несет вам радость и погружает в магию лучшего из искусств. Ну как тут устоять?
      </mat-tab>
  </mat-tab-group>
</div>